* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: LightSkyBlue;
}

.container {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 10px;
    margin: 5px;
    letter-spacing: -2px;
    line-height: -1px;
    color: PaleTurquoise;
}

/* Footer */
footer {
    display: flex;
    color: PaleTurquoise;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    /* margin: 75px 0 0 0px; */
}

footer a {
    text-decoration: none;
    color: PaleTurquoise;
}

footer a:hover {
    color: lightslategrey;
    transition: .3s ease-out all;
}