:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preta);
    font-family: 'Bebas Neue', Times, serif;
    color: #FFF;
}
    
header .container {
    display: flex;
    align-items: center;
    margin-left: 40px;
    justify-content: space-between;
}

.container .logo {
    font-size: 30px;
    color: var(--vermelho);
    text-transform: uppercase;
    margin-bottom: 10px;
}

nav li {
    display: inline-flex;
    margin-right: 9px;
}

header nav li a {
    text-decoration: none;
    color: #AAA;
    padding: 15px 12px;
}

nav li a:focus,
nav li a:hover {
    color: #FFF;
}
/* Principal */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/qG59J1Q7rpBc1dvku4azbzcqo8h.jpg');
    height: 700px;
    background-size: cover;
}

.main h3 {
    text-transform: uppercase;
}

.main .container {
    margin-left: 30px;
}

.main .container {
   width: 70%;
}

.title {
    font-size: 50px;
    margin-top: 15px;
}

.description {
    margin-top: 10px;
    font-size: 25px;
    line-height: 26px;
    font-weight: 300;
}

.main .btn-group {
    margin-top: 40px;
}

.btn {
    padding: 15px 30px;
    background-color: rgba(0,0,0,.50);
    border: none;
    color:#FFF;
    margin-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFF;
    color: black;
    transition: .3s ease all;
}

.btn i {
    margin-right: 8px;
}
/* /Principal */
/* Carrousel */
.moviebox {
    width: 100%;
    height: 100%;
    display: block;
}

.container h2 {
    margin: 30px 0px 0px 40px;  
  }

  .carrousel {
    margin-top: 10px;
    padding: 5px;
}

 .item {
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;  
}
/* /Carrousel */
    
/* Footer */
footer {
    display: flex;
    background-color: var(--preta);
    color: white;
    justify-content: center;
    padding: 0.5em;
}

/* Responsividade */
@media screen and (max-width: 700px) {
    header .container  {
     display: flex;
     flex-direction: column;
 }

 .btn {
     width: 100%;
     margin-top: 15px;
 }  

 .description {
     text-align: justify;
 }
 
 .container h2 {
    display: flex;
    align-items: center;
    justify-content:center;
 }
}

 @media screen and(min-width:1000px) {
    .description {
       width: 50%;
    }
 }  
 